.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: linear-gradient(135deg, #1e1e2f, #3a3a52);

}

.auth-box {
    background: linear-gradient(135deg, #1e1e2f, #3a3a52);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    width: 350px;
    max-width: 90%;
    text-align: center;
}

.auth-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.auth-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.auth-box button {
    width: 100%;
    padding: 12px;
    background: #0077ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease;
}

.auth-box button:hover {
    background: #005fcc;
}

.auth-box p {
    color: #ffffff;
    margin-top: 15px;
    font-size: 14px;
}

.auth-box a {
    color: #a9a9a9;
    text-decoration: none;
}

.auth-box a:hover {
    text-decoration: underline;
}